## Ignore files
src/lab1
*.aux
*.log
*.out
*.synctex.gz
*.toc
#doc/report2/*.pdf
_minted*
*.synctex(busy)
*.tdo
arara.xml
*.bbl
*.bcf
*.blg
presentation/report/main.pdf
*.run.xml

## Vim aux files
*.swp
*.*~
makefile~
